@import './variables';
@import './mixins';
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';



.container {

  .navbar {
    background-color:$hd-color;
    .container-fluid{
      display: flex;
      flex-wrap: nowrap;
      .navbar-brand{
        font-weight: bold;
        color: $bg-color;
      }
      .btn{
        background: $elements-bg-color;
        font-weight: bold;
      }
      .img-fluid{
        max-width: 7%; 
        height: auto;
      }
    }
  }


  main{
    h1 {
      font-weight: bold;
    }


  .col{
    @for $i from 1 through $count {
      &:nth-child(#{$i}n) {
        @include card-colors(
          lighten($card-color, $i * 10%),
        );
      }
    }
    .card {
      height: $card-height;
      .color {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        height: 80%;
        .card-header{
          border-radius: $br-radius;
          background-color: $elements-bg-color;
        }
      }
      .card-title{
        font-weight: bold;
      }
      
    }
  }
  

}


  footer{
    display: flex;
    justify-content: space-between;
    .contact{
      display: flex;
      justify-content: flex-end;
      gap: 10%;
      .img-fluid{
        width: 100%;
        max-width: 40px;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .container{
    width: 500px;
  }
  .navbar{
    height: 60px;
  }

}
@include media-breakpoint-up(md) { 
  .container{
    width: 700px;
  }

 }
@include media-breakpoint-up(lg) { 
  .container{
    width: 1000px;
  }
 }
@include media-breakpoint-up(xl) { 
  .container{
    width: 1200px;
  }
 }
@include media-breakpoint-up(xxl) { 
  .container{
    width: 1400px;
  }
 }

 @include media-breakpoint-up(xxxl) { 
  .container{
    width: 1500px;
  }
 }

@include media-breakpoint-up(sm) { 
  .card{
    width: 230px;
  }
 }
@include media-breakpoint-up(md) { 
  .card{
    width: auto;
  }
 }