.container .navbar {
  background-color: #22577a; }
  .container .navbar .container-fluid {
    display: flex;
    flex-wrap: nowrap; }
    .container .navbar .container-fluid .navbar-brand {
      font-weight: bold;
      color: #ffffff; }
    .container .navbar .container-fluid .btn {
      background: #57cc99;
      font-weight: bold; }
    .container .navbar .container-fluid .img-fluid {
      max-width: 7%;
      height: auto; }
.container main h1 {
  font-weight: bold; }
.container main .col:nth-child(1n) .color {
  background-color: #2d73a2; }
.container main .col:nth-child(2n) .color {
  background-color: #3a90c8; }
.container main .col:nth-child(3n) .color {
  background-color: #62a6d3; }
.container main .col:nth-child(4n) .color {
  background-color: #8abdde; }
.container main .col:nth-child(5n) .color {
  background-color: #b2d3e9; }
.container main .col .card {
  height: 300px; }
  .container main .col .card .color {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    height: 80%; }
    .container main .col .card .color .card-header {
      border-radius: 5px;
      background-color: #57cc99; }
  .container main .col .card .card-title {
    font-weight: bold; }
.container footer {
  display: flex;
  justify-content: space-between; }
  .container footer .contact {
    display: flex;
    justify-content: flex-end;
    gap: 10%; }
    .container footer .contact .img-fluid {
      width: 100%;
      max-width: 40px; }

@media (min-width: 500px) {
  .container {
    width: 500px; }

  .navbar {
    height: 60px; } }
@media (min-width: 768px) {
  .container {
    width: 700px; } }
@media (min-width: 992px) {
  .container {
    width: 1000px; } }
@media (min-width: 1200px) {
  .container {
    width: 1200px; } }
@media (min-width: 1400px) {
  .container {
    width: 1400px; } }
@media (min-width: 1500px) {
  .container {
    width: 1500px; } }
@media (min-width: 500px) {
  .card {
    width: 230px; } }
@media (min-width: 768px) {
  .card {
    width: auto; } }

/*# sourceMappingURL=style.css.map */
